<mat-drawer-container class="example-container" autosize style="height: 100vh">
  <mat-drawer #drawer class="dashboard-sidebar" mode="side">
    <nav class="nav flex-column">
      <a href="#" style="background-color: black"
        ><img
          src="../../../assets/logocoderpng.png"
          style="height: 64px"
          alt=""
      /></a>
      <a
        appTitulosTamanio
        class="nav-link active"
        routerLink="home"
        mat-list-item
        >Inicio</a
      >
      <a appTitulosTamanio class="nav-link" routerLink="nosotros">Nosotros</a>
      <a appTitulosTamanio class="nav-link" routerLink="alumnos" mat-list-item
        >Alumnos</a
      >
      <a appTitulosTamanio class="nav-link" routerLink="profesores"
        >Profesores</a
      >
      <a appTitulosTamanio class="nav-link" routerLink="cursos"
      >Cursos</a
      >
      <a appTitulosTamanio class="nav-link" routerLink="login"
      >Mi datos</a
      >
    </nav>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary" style="background-color: black;">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span appTitulosTamanio>Proyecto Final - Lista de Alumnos</span>
      <span class="example-spacer"></span>
      <!-- <h2 appTitulosTamanio>¡Bienvendido {{ user }}!</h2> -->
      <ng-container *ngIf="isLoggedIn; else showLoginButton">
        <h2 appTitulosTamanio>¡Bienvenido {{ user }}!</h2>
      </ng-container>
      <ng-template #showLoginButton>
        <a routerLink="login"><button mat-button style="background-color: rgb(48, 47, 47);" class="btn btn-primary">Iniciar sesión</button></a>
      </ng-template>
    </mat-toolbar>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="app-loading" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
